<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.portfolio.gms.member.dto.MemberDto" alias="MemberDto"/>          
		<typeAlias type="com.portfolio.gms.admin.notice.dto.AdminNoticeDto" alias="AdminNoticeDto"/>          
		<typeAlias type="com.portfolio.gms.admin.notice.dto.NoticeSuggestionDto" alias="NoticeSuggestionDto"/>          
		<typeAlias type="com.portfolio.gms.imageBoard.dto.ImageBoardDto" alias="ImageBoardDto"/>          
		<typeAlias type="com.portfolio.gms.imageBoard.dto.ImageSuggestionDto" alias="ImageSuggestionDto"/>          
		<typeAlias type="com.portfolio.gms.board.dto.BoardDto" alias="BoardDto"/>          
		<typeAlias type="com.portfolio.gms.board.dto.BoardReplyDto" alias="BoardReplyDto"/>          
		<typeAlias type="com.portfolio.gms.goods.dto.GoodsDto" alias="GoodsDto"/>          
		<typeAlias type="com.portfolio.gms.goods.dto.GoodsReplyDto" alias="GoodsReplyDto"/>          
		<typeAlias type="com.portfolio.gms.goods.cart.dto.CartDto" alias="CartDto"/>          
		<typeAlias type="com.portfolio.gms.goods.order.dto.GoodsOrderDto" alias="GoodsOrderDto"/>      
    </typeAliases>

</configuration>